.inputs {
  display: flex;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--Grey-500);
}

.input-group input {
  width: 100%;
  max-width: 160px;
  padding: 0.75rem 1rem;
  font-size: var(--fs-input);
  font-weight: 700;
  color: var(--Black);
  border: 1px solid var(--Grey-200);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.input-group input::placeholder {
  color: var(--Grey-200);
  font-weight: 700;
}

.input-group input:focus {
  border-color: var(--Purple-500);
}

/* Hide number input spinners */
.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group input[type='number'] {
  -moz-appearance: textfield;
}
